body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.AppTitle {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

.Footer {
  background-color: #222;
  /* border-top: 1px solid #E7E7E7; */
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
}
