body {
  background-color: #D4D4D4;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.SearchBar {
  margin-top: 50px;
}

.RepoBar, .UsernameBar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.btn-primary {
  margin: 5px;
}