body {
  background-color: #888888;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.SearchBar {
  background-color: #60646D;
}

.SearchTitle {
  padding-top: 25px;
  padding-bottom: 25px;
}

.RepoBar, .UsernameBar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.Profile {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #6D6D6D;
  box-shadow: 0 2px 3px #717171;
  padding: 10px;
  background-color: #3F5C88;
}

.profileImage {
  border: 1px solid #6D6D6D;
}

.Repos {
  border: 1px solid black;
  margin: 5px;
  background-color: #2C3580;
}

ul li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0.5rem !important;
}

.repoItem {
  border: 1px solid black;
  margin: 5px auto;
}