body {
  background-color: #888888;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.SearchBar {
  padding-top: 50px;
  background-color: #60646D;
}

.RepoBar, .UsernameBar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.btn-primary {
  margin: 5px;
}

.profile {
  border: 1px solid black;
  margin: 5px;
}

.repos {
  border: 1px solid black;
  margin: 5px;
}

ul li {
  list-style-type: none;
}